select.form-control:not([size]):not([multiple]) {
	width: 50px;
    padding-left: 12px;
    border: 1px dotted;
    border-radius: 5px;
    height: 28px;
}

div.dataTables_wrapper div.dataTables_filter input {
	border: 1px dotted;
    border-radius: 5px;
    padding-left: 5px;
    height: 28px;
}

select + .select2-container {
  width: 100% !important;
}

.page-item.active .page-link {
    border-radius: 20px;
}